body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8BC34A; /* Green background */
  color: #ffffff;
}

header {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

main {
  text-align: center;
  flex-grow: 1;
  padding: 20px;
}

h1 {
  color: rgba(26, 72, 20, 0.88);
  font-family :Lemonchiffon;
  font-size: 24px;
  margin: 20px 0;
}
p {
  color: rgba(26, 72, 20, 0.88);
}
.join-button {
  background-color: #E91E63; /* Pink button */
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  display: inline-block;
  margin-bottom: 20px;
}

footer {
  padding: 20px;
  position: relative;

}

.chat-button {
  background-color: #E91E63;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
}