body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d9fdd9; /* Light green background */
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.forgot-password {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #5c5c5c;
}

.sign-in {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.sign-in:hover {
    background-color: #45a049;
}

.divider {
    margin: 20px 0;
}

.divider span {
    padding: 0 10px;
    color: #5c5c5c;
}

.google-sign-in {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
}

.google-sign-in img {
    margin-right: 5px;
}

p {
    margin-top: 20px;
}